header {
    background-color: #3333;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    widt: 100%;
}

ul {
    list-style: none;

    li {
        cursor: pointer;
        &:hover {
            color:#777;
        }
    }
}